@import "./partials/variables.css";

.login-wrapper {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 35px;
  display: flex;
  align-items: center;
  position: relative;
}

.login-wrapper > img.blur-color-1 {
  position: absolute;
  top: 0;
  left: 0;
}

.login-wrapper > img.blur-color-2 {
  position: absolute;
  top: 50%;
  left: 2rem;
  z-index: -1;
}

.login-wrapper > img.blur-color-3 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin: 2rem auto;
}

.container > .header {
  margin-left: -4rem;
}

.container > .header > h1 {
  color: var(--blue-900);
  font-size: 3rem;
  font-weight: 600;
}

.container > .header > h2 {
  color: var(--blue-600);
  font-size: 2rem;
  font-weight: 400;
}

.container > main > form {
  background-color: rgb(255, 255, 255, 0.6);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.2rem var(--blue-800);
  min-width: 90%;
}

.container > main > form > .form-input {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 0.5rem;
}

.container > main > form > .form-input > label {
  color: var(--blue-600);
  font-size: 1.2rem;
  font-weight: 400;
}

.container > main > form > .form-input > input,
select {
  padding: 0.6rem 1rem;
  border: none;
  outline: none;
  box-shadow: 0 0 0.1rem var(--blue-800);
  border-radius: 0.5rem;
  color: var(--blue-900);
  font-size: 1rem;
}

.container > main > form > .form-input > input::placeholder {
  color: rgba(51, 65, 85, 0.5);
}

.container > main > form > .form-input > button {
  background-color: var(--blue-800);
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 0.9rem;
}

.container > main > form > .form-input > button:hover {
  background-color: var(--blue-900);
}

.container > main > form > .form-input > a {
  color: var(--blue-600);
  margin-top: 0.6rem;
  text-align: center;
  text-decoration: none;
}

.container > main > form > .form-input > a:hover {
  text-decoration: underline;
}
