@import './navbar.css';

/* Petugas styles */
.container {
  padding: 2rem 10rem;
  position: relative;
  min-height: 90vh;
}

.container > img.blur-color {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container > img.blur-color-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.container > img.blur-color-3 {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.container > .table-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--blue-900);
  margin-top: 8rem;
}

.container > .table-wrapper > .header-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}

.container > .table-wrapper > .header-table > h1 {
  color: var(--blue-800);
  font-size: 2.2rem;
  font-weight: 700;
}

.container > .table-wrapper > .header-table > .search > form {
  display: flex;
  align-items: center;
}

.container > .table-wrapper > .header-table > .search > form > input {
  border: 0.1rem solid var(--blue-800);
  outline: none;
  border-radius: 1rem 0 0 1rem;
  padding: 0.35rem 0.9rem;
  font-size: 0.9rem;
  color: var(--blue-900);
  margin-right: 0;
  max-width: 12rem;
  background-color: var(--bg-primary);
}

.container > .table-wrapper > .header-table > .search > form > button {
  border: 0.1rem solid var(--blue-800);
  outline: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0.1rem 0.9rem;
  font-size: 0.9rem;
  color: var(--blue-900);
  margin-right: 0;
  background-color: var(--blue-900);
  cursor: pointer;
  box-sizing: border-box;
}
.container > .table-wrapper > .header-table > .search > form > button > svg {
  margin: auto;
  display: inline-block;
  margin-top: 0.2rem;
}

.container > .table-wrapper > .table {
  margin: 2rem auto;
  margin-bottom: 1rem;
}

.container > .table-wrapper > .table > table {
  margin-inline: auto;
  border-collapse: collapse;
  border: 0.1rem solid var(--blue-900);
}

.container > .table-wrapper > .table > table > thead > tr {
  border: 0.1rem solid var(--blue-900);
}

.container > .table-wrapper > .table > table > thead > tr > th {
  border-bottom: 0.1rem solid var(--blue-800);
  border-right: 0.1rem solid var(--blue-900);
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--blue-900);
  background-color: var(--bg-primary);
}

.container > .table-wrapper > .table > table > tbody > tr > td {
  border-right: 0.1rem solid var(--blue-900);
  border-bottom: 0.1rem solid var(--blue-800);
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.container > .table-wrapper > .table > .footer-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > .table-wrapper > .table > .footer-table > a {
  background-color: var(--blue-900);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 11rem;
  margin-top: 2rem;
}
