@import "./../partials/navbar.css";

div.home-wrapper {
  position: relative;
  min-height: 100vh;
  padding-top: 8rem;
  padding-inline: 5rem;
  box-sizing: border-box;
}

div.home-wrapper > img.blur-color-1 {
  position: absolute;
  top: 0;
  left: 0;
}

div.home-wrapper > img.blur-color-2 {
  position: absolute;
  bottom: 0;
  right: 7rem;
  z-index: -1;
}

div.home-wrapper > img.blur-color-3 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > .desc > h3 {
  font-weight: 600;
  color: var(--blue-600);
  font-size: 1.8rem;
}

.container > .desc > h1 {
  font-weight: 700;
  color: var(--blue-900);
  font-size: 2.5rem;
  margin-top: 0.5rem;
}

.container > .desc {
  max-width: 80%;
  margin-top: -3rem;
  margin-left: 5rem;
}

.container > .desc > h2 {
  color: var(--blue-800);
  font-weight: 500;
  margin-top: 0.3rem;
}

.container > .desc > p {
  color: var(--slate-700);
  margin-top: 0.7rem;
  font-size: 1.1rem;
  display: inline-block;
}

.container > .desc > a {
  background-color: var(--blue-800);
  color: #fff;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 1rem;
  display: inline-block;
  margin-top: 3rem;
}

.container > .desc > a:hover {
  background-color: var(--blue-600);
}
