body {
  font-family: "Courier New", Courier, monospace;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-inline: auto;
}

table tr.header {
  border-bottom: 0.1rem dashed #64748b;
}

tr td {
  text-align: center;
}

tr td img{
    width: 100px;
    border-radius: 50%;
}

tr td h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 1.5rem; /* 40px */
  color: #334155;
}

tr td h2 {
  font-size: 1.5rem; /* 24px */
  line-height: .6rem; /* 32px */
  color: #334155;
}

tr td p{
    text-align: left;
}

tr.thead{
    border-top: .1rem dashed #334155;
    border-bottom: .1rem dashed #334155;
}

tr.thead>td{
    padding: 1rem;
    text-align: left;
}

tr.tbody>td{
    text-align: left;
    padding: 1rem;
}