@import "./../navbar.css";

.container {
  padding-top: 100px;
  width: 100%;
  min-height: 84.5vh;
  position: relative;
}

.container > img.blur-color {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container > img.blur-color-2 {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  z-index: -1;
}

.container > img.blur-color-3 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.container > .form-wrapper {
  margin: 0.2rem auto;
  padding: 1rem 2rem;
  border: 0.1rem solid var(--blue-900);
  border-radius: 0.5rem;
  box-sizing: border-box;
  max-width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
}

.container > .form-wrapper > div.header {
  margin-top: 1rem;
}

.container > .form-wrapper > div.header > h1 {
  color: var(--blue-800);
  text-align: center;
  font-size: 2.5rem;
}

.container > .form-wrapper > main {
  padding: 0.8rem 3rem;
}

.container > .form-wrapper > main > form > .form-input {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 1rem;
}

.container > .form-wrapper > main > form > .form-input > label {
  color: var(--blue-600);
  font-size: 1.1rem;
}

.container > .form-wrapper > main > form > .form-input > input,
select,
textarea {
  padding: 0.5rem 1rem;
  background-color: var(--bg-primary);
  border: 0.1rem solid var(--blue-600);
  outline: none;
  border-radius: 1rem;
  color: var(--blue-800);
}

.container > .form-wrapper > main > form > .form-button {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.container > .form-wrapper > main > form > .form-button {
  margin-top: 2rem;
}

.container > .form-wrapper > main > form > .form-button > a {
  background-color: var(--bg-primary);
  border: 0.1rem solid var(--blue-600);
  padding: 0.5rem 3rem;
  width: calc(40% / 2);
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--blue-600);
}

.container > .form-wrapper > main > form > .form-button > button {
  background-color: var(--blue-600);
  border: 0.1rem solid var(--bg-primary);
  padding: 0.5rem 3rem;
  width: calc(80% / 2);
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--bg-primary);
  cursor: pointer;
}
