@import "./variables.css";
.tambah-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tambah-wrapper > form {
  background-color: rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(2rem);
  padding: 1rem 2rem;
  width: 45%;
  box-shadow: 0 0 0.1rem var(--blue-900);
  border-radius: 0.5rem;
  padding-inline: 3rem;
  box-sizing: border-box;
  margin-top: 4rem;
}

.tambah-wrapper > form > h1 {
  text-align: center;
  font-size: 2.2rem;
  color: var(--blue-800);
  margin-top: 0.6rem;
  margin-bottom: 1rem;
}

.tambah-wrapper > form > .form-label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 0.8rem;
}

.tambah-wrapper > form > .form-label > label {
  color: var(--blue-600);
  font-size: 1rem;
}

.tambah-wrapper > form > .form-label > input,
select {
  padding: 0.6rem 1rem;
  border: 0.1rem solid var(--blue-800);
  border-radius: 0.5rem;
  outline: none;
  color: var(--slate-700);
  font-size: 0.95rem;
}

.tambah-wrapper > form > .button > a,
.tambah-wrapper > form > .button > button {
  display: inline-block;
  width: 50%;
  padding: 0.6rem 2rem;
  cursor: pointer;
}

.tambah-wrapper > form > .button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}

.tambah-wrapper > form > .button > a {
  background-color: var(--bg-primary);
  border: 0.1rem solid var(--blue-600);
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  color: var(--blue-900);
}

.tambah-wrapper > form > .button > button {
  background-color: var(--blue-900);
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}
