*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-primary: #ecf1f9;
  --blue-900: #1e3a8a;
  --blue-800: #1e40af;
  --slate-700: #334155;
  --blue-600: #0284c7;
}

body {
  background-color: var(--bg-primary);
}
